<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="pAcademyDBstring"
			 connectionString="Server=MY2NDGF;Database=pacademy;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
		<add name="pAcademyCourses"
			 connectionString="Server=MY2NDGF;Database=courses;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
		<add name="ApiBaseUrl"
			 connectionString="http://127.0.0.1:5000"/>
	</connectionStrings>
</configuration>
